body{
	padding-top: 120px;
	font-family: arial;
}

.container{
	width: 500px;
	margin: 0 auto
}

a:link, a:visited {
	color: slateGray;
	text-decoration: none;
	border-bottom: 1px dotted slateGray;
}

a:hover {
	color: #777;
	border-bottom: #444;
}

small{
	color: #999;
	font-style: italic;
}
p{
	line-height: 20px;
}
input[type=text], input[type=password], textarea{
	-webkit-appearance: none;
	padding: 5px;
	border:1px solid #ccc;
}